@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lato&display=swap');

$primary-title: 'Crimson Text', serif;
$sub-heading: 'Lato', sans-serif;

.input {
  font-family: $sub-heading;
  font-size: 16px;
  width: 100%;
  padding: 7px 0px;
  border-radius: 5px;
}

.label {
  font-family: $sub-heading;
  color: white;
}

.formGroup {
  margin:5px
}

.formContainer {
  display: block;
  border-radius: 0px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background-color: #6a9e45;
  width: 472px;
  height: 356px;
  padding: 25px;
}

.button {
  color: white;
  font-size: 20px;
  background-color: #a5a298;
  transition: all 0.5s;
  float: right;
  border: none;
  font-family: $sub-heading;
  display: block;

}

.button:hover {
  background-color: #9f9f93;
  cursor: pointer;
  
}

.subtext {
  display: block;
  color: white;
  font-family: $sub-heading;
  float: right;
  margin-top: 10px;
}