@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lato&display=swap');

$opaque-white: #ffffffc5;
$font-stack: Helvetica, sans-serif;
$primary-title: 'Crimson Text', serif;
$sub-heading: 'Lato', sans-serif;

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size-small: 1em;
$base-font-size-large: 2em;
$base-line-height: 1.5;
$header-line-height: 1.25;

.flexItemOne{
  min-width: 200px;
  //text-align: center;
}

.flexItemTwo{
  min-width: 250px;
  text-align: center;
}

.description {
  line-height: 1;
  font-family: $sub-heading;
  font-size: $base-font-size-small;
  color:white;
  min-width: 200px;
  margin: 0.3em;

  @media #{$mq-medium} {
    font-size: $base-font-size-small*1.4;
    
  }
  @media #{$mq-large} {
      font-size: $base-font-size-small*1.6;
  }

  @media #{$mq-xlarge} {
      font-size: $base-font-size-small*1.8;
  }

  @media #{$mq-xxlarge} {
      font-size: $base-font-size-small*2.0;
  }
}

.title {
  line-height: 1.5;
  font-size: $base-font-size-large;
  font-family: $primary-title;
  color:white;
  min-width: 250px;
  margin: 0;

  @media #{$mq-medium} {
    font-size: $base-font-size-large*1.5;
    line-height: $base-line-height*1.2;
  }
  @media #{$mq-large} {
      font-size: $base-font-size-large*1.7;

  }

  @media #{$mq-xlarge} {
      font-size: $base-font-size-large*1.9;

  }

  @media #{$mq-xxlarge} {
      font-size: $base-font-size-large*2.2;

  }
  
}

.mainImage {
  height: 100%;
}

.line {
  border-left: 1px solid white;
  height: 12em;
}

.break {
  height: 0;
}