@import 'variables/assets';

$opaque-white: #ffffffc5;
$font-stack: Helvetica, sans-serif;
$primary-title: 'Crimson Text', serif;
$sub-heading: 'Lato', sans-serif;

// Font-Size
$base-font-size-small: 0.6em;
$base-font-size-medium: 0.75em;
$base-font-size-large: 1.7em;
$base-line-height: 1.4;

.flexItemOne{
  min-width: 200px;
  margin-bottom: -2.5em;
  //text-align: center;
}

.flexItemTwo{
  min-width: 250px;
  text-align: center;
  margin-bottom: 3.2em;
}

.flexItemThree{
  margin-bottom: -2.3em;
}


.description {
  line-height: 1;
  font-family: $sub-heading;
  font-size: $base-font-size-small;
  color:white;
  min-width: 200px;
  margin: 0.3em;

  @media #{$mq-medium} {
    font-size: $base-font-size-small*1.4;
    
  }
  @media #{$mq-large} {
      font-size: $base-font-size-small*1.6;
  }

  @media #{$mq-xlarge} {
      font-size: $base-font-size-small*1.8;
  }

  @media #{$mq-xxlarge} {
      font-size: $base-font-size-small*2.0;
  }
}

.subheading {
  line-height: 1;
  font-family: $sub-heading;
  font-size: $base-font-size-medium;
  color:white;
  min-width: 200px;
  margin: 0.3em;

  @media #{$mq-medium} {
    font-size: $base-font-size-medium*1.4;
    
  }
  @media #{$mq-large} {
      font-size: $base-font-size-medium*1.6;
  }

  @media #{$mq-xlarge} {
      font-size: $base-font-size-medium*1.8;
  }

  @media #{$mq-xxlarge} {
      font-size: $base-font-size-medium*2.0;
  }
}

.title {
  line-height: $base-line-height;
  font-size: $base-font-size-large;
  font-family: $primary-title;
  color:white;
  min-width: 250px;
  margin: 0;

  @media #{$mq-medium} {
    font-size: $base-font-size-large*1.5;
    line-height: $base-line-height*1.2;
  }
  @media #{$mq-large} {
      font-size: $base-font-size-large*1.7;

  }

  @media #{$mq-xlarge} {
      font-size: $base-font-size-large*1.9;

  }

  @media #{$mq-xxlarge} {
      font-size: $base-font-size-large*2.2;

  }
  
}

.mainImage {
  height: 100%;
}

.line {
  border-left: 0.13em solid white;
  height: 12em;
}

.break {
  height: 0;
}