.description {
  line-height: 1.5;
  vertical-align: middle;
  word-break: normal;
  white-space: normal;
  margin: 0% 10%;
  flex-basis:1;
  
}

.mainImage {
  height: 100%;
}

.line {
  border-left: 1px solid white;
  height: 180px;
}