@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lato&display=swap');

$opaque-white: #ffffffc5;
$font-stack: Helvetica, sans-serif;
$primary-title: 'Crimson Text', serif;
$sub-heading: 'Lato', sans-serif;

.mainImage {
  height: 100%;
}

.quoteBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 857px;
  float: right;
  background-color: $opaque-white;
  width: 370px;
  height: 100%;

}

q {
  font-family: $primary-title;
  font-size: 47px;
  line-height: 1.05;
  font-weight: 300;
  color: #555353;
  padding: 15%;
  margin: auto;
  text-align: left;

}

p {
  font-family: $sub-heading;

}