@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lato&display=swap');

$primary-title: 'Crimson Text', serif;  

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

$base-font-size: 1.4em;

.largeButton {
    background-color: #adc743;
    font-family: $primary-title;
    border: none;
    color: white;
    text-decoration: none;
    font-size: $base-font-size;
    margin-left: 15%;
    margin-bottom: 30%;
    cursor: pointer;
    transition: 0.5s all;
    width: 146px;
    height: 146px;

    @media #{$mq-medium} {
      font-size: $base-font-size*1.2;
  
    }
    @media #{$mq-large} {
        font-size: $base-font-size*1.3;
        
    }

    @media #{$mq-xlarge} {
        font-size: $base-font-size*1.4;
        
    }

    @media #{$mq-xxlarge} {
        font-size: $base-font-size*1.6;
        
    }
  
  }
  
  .largeButton:hover {
    background-color: #899c40;
  }