

$primary-title: 'Crimson Text', serif;
$sub-heading: 'Lato', sans-serif;
$main-colour: #222222;

.mainContainer {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-justify-content:  center;
  -moz-justify-content:  center;
  justify-content:  center;
  text-align: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.priceContainer {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-justify-content:  center;
  -moz-justify-content:  center;
  justify-content:  center;
  text-align: center;
}
.planContainer {
  max-width: 320px;
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content:  space-around;
  -moz-justify-content:  space-around;
  justify-content:  space-around;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;
  margin: 20px 10px;
}
.benefitContainer {
  min-height: 200px;
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content:  space-around;
  -moz-justify-content:  space-around;
  justify-content:  space-around;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;
  margin: 20px 10px;
}
.heading {
  font-family: $sub-heading;
  font-size: 27px;
  color: $main-colour;
  font-weight: 100;

}
.dollarSign {
  line-height: 0;
  font-size: 20px;
}

.price {
  color: $main-colour;
  font-size: 100px;
  font-weight: 70;
  line-height: 0;
  margin-top: 50px;

}
.subtext {
  color: #8c8c8c;
  font-size: 13px;
  font-family: $sub-heading;
}

.description {
  color: $main-colour;
  font-size: 15px;
  font-family: $sub-heading;
  margin: 0px 10px;

}

.button {
  background-color: #adc743;
  font-family: $sub-heading;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s all;
  width: 270px;
  height: 46px;
  align-self: center;

}

.button:hover {
  background-color: #899c40;
}