$box-colour: #f5f8e3;
$font-stack: Helvetica, sans-serif;
$primary-title: 'Crimson Text', serif;
$sub-heading: 'Lato', sans-serif;
$right-offset: 107px;

.container {
  font-family: $sub-heading;
  background-color: $box-colour;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;

}

.title {  
  font-family: $primary-title;
  font-weight: 300;
  color: rgb(43, 42, 42);
  padding: 1em;
  font-size: 23px;
  line-height: 1;
  margin: 0;

}

.subtext {
  font-family: $sub-heading;
  font-size: 21px;
  font-weight: 700;
  color: #B12704;
  line-height: 3.2;
  margin: 0;

}