
@import 'variables/assets';

$primary-title: 'Crimson Text', serif;
$sub-heading: 'Lato', sans-serif;
$main-colour: #222222;

// Font-Size
$base-font-size-small: 1em;
$base-font-size-medium: 1.3em;
$base-font-size-large: 2em;
$base-line-height: 1.5;
$header-line-height: 1.25;

.mainContainer {
  display: -webkit-box;
display: -ms-flexbox;
display: flex;
  -webkit-justify-content:  center;
  -moz-justify-content:  center;
  justify-content:  center;
  text-align: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.break {
    width: 100vw;
    height: 0;
    margin-top: 50px;
}

.button {
  background-color: white;
  align-self: center;
  font-family: $sub-heading;
  border-width: 0px;
  border-bottom-color: #e7e7e4;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #4a4a4a;
  text-align: center;
  text-decoration: none;
  font-size: $base-font-size-small;
  padding: 0em 4em;
  cursor: pointer;
  transition: 0.5s all;
  height: 46px;
  align-self: center;
  margin-top: 50px;

  @media #{$mq-medium} {
    font-size: $base-font-size-small*1.2;
    line-height: $base-line-height*1.2;
  }
  @media #{$mq-large} {
      font-size: $base-font-size-small*1.3;

  }

  @media #{$mq-xlarge} {
      font-size: $base-font-size-small*1.4;

  }

  @media #{$mq-xxlarge} {
      font-size: $base-font-size-small*1.6;

  }

}

.button:active {
  border-width: 0px;
  border-bottom-color: #adc743;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.button__underlined {
  @extend .button;
  border-width: 0px;
  border-bottom-color: #adc743;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.bookNowButton {
  background-color: #adc743;
  font-family: $primary-title;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.4em;
  cursor: pointer;
  transition: 0.5s all;
  padding: 0.5em 1em;
  margin-bottom: 1em;

}

.bookNowButton:hover {
  background-color: #899c40;
}