@import 'variables/assets';

ul {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    list-style-type: none;
}

ul li {
    margin: 5px;
}

.ul {
    margin: 0;
    padding: 0;
}


ul li a:visited {
    color: black;
}

//avoid colour change when visited etc..
a, a:visited, a:hover, a:active {
    color: inherit;
}

.icon {
    font-size: $font-25px;
}